.p10 {
  margin: 0;
}
.div14 {
  top: 198px;
  left: 25px;
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-source-serif-pro);
}
.span {
  white-space: pre-wrap;
}
.span1 {
  text-transform: uppercase;
  color: var(--color-gray-200);
}
.div15 {
  top: 145px;
  left: 25px;
}
.iphone-14-pro-max-6-child {
  position: absolute;
  top: 170px;
  left: 22px;
  border-top: 3px solid var(--color-burlywood);
  box-sizing: border-box;
  width: 240px;
  height: 6px;
}
.component-26-10,
.component-26-11 {
  position: absolute;
  bottom: 210px;
  left: 274px;
  width: 56px;
  height: 56px;
}
.component-26-11 {
  left: 85px;
}
.iphone-14-pro-max-6-item {
  position: absolute;
  top: 5643px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 430px;
  height: 160px;
}
.div9 {
  position: absolute;
  bottom: 114px;
  left: 47px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: center;
}
.component-8-12,
.component-9-12 {
  position: absolute;
  bottom: 36px;
  left: 113px;
  width: 24px;
  height: 24px;
}
.component-9-12 {
  left: 149px;
}
.component-10-12,
.component-11-12,
.component-12-12,
.component-13-12 {
  position: absolute;
  bottom: 36px;
  left: 185px;
  width: 24px;
  height: 24px;
}
.component-11-12,
.component-12-12,
.component-13-12 {
  left: 221px;
}
.component-12-12,
.component-13-12 {
  left: 257px;
}
.component-13-12 {
  left: 293px;
}
.iphone-14-pro-max-6-inner {
  position: absolute;
  top: 369px;
  left: 214px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 2px;
  height: 26px;
}
.iphone-14-pro-max-6-child2,
.iphone-14-pro-max-6-child3,
.iphone-14-pro-max-6-child4,
.iphone-14-pro-max-6-child5 {
  position: absolute;
  top: 3747px;
  left: 214px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 2px;
  height: 126px;
}
.iphone-14-pro-max-6-child3,
.iphone-14-pro-max-6-child4,
.iphone-14-pro-max-6-child5 {
  top: 2008px;
}
.iphone-14-pro-max-6-child4,
.iphone-14-pro-max-6-child5 {
  top: 2878px;
}
.iphone-14-pro-max-6-child5 {
  top: 4617px;
}
.iphone-14-pro-max-6-child7 {
  position: absolute;
  top: 3004px;
  left: 14px;
  background-color: var(--color-seagreen);
  width: 402px;
  height: 104px;
}
.iphone-14-pro-max-6-child10,
.iphone-14-pro-max-6-child11,
.iphone-14-pro-max-6-child8,
.iphone-14-pro-max-6-child9 {
  position: absolute;
  top: 1264px;
  left: 14px;
  background-color: var(--color-seagreen);
  width: 402px;
  height: 104px;
}
.iphone-14-pro-max-6-child10,
.iphone-14-pro-max-6-child11,
.iphone-14-pro-max-6-child9 {
  top: 3873px;
}
.iphone-14-pro-max-6-child10,
.iphone-14-pro-max-6-child11 {
  top: 2134px;
}
.iphone-14-pro-max-6-child11 {
  top: 4743px;
}
.iphone-14-pro-max-6-child12,
.iphone-14-pro-max-6-child13,
.iphone-14-pro-max-6-child14,
.iphone-14-pro-max-6-child15,
.iphone-14-pro-max-6-child16,
.iphone-14-pro-max-6-child17 {
  position: absolute;
  top: 499px;
  left: 14px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 402px;
  height: 640px;
}
.iphone-14-pro-max-6-child13,
.iphone-14-pro-max-6-child14,
.iphone-14-pro-max-6-child15,
.iphone-14-pro-max-6-child16,
.iphone-14-pro-max-6-child17 {
  top: 3108px;
}
.iphone-14-pro-max-6-child14,
.iphone-14-pro-max-6-child15,
.iphone-14-pro-max-6-child16,
.iphone-14-pro-max-6-child17 {
  top: 1368px;
}
.iphone-14-pro-max-6-child15,
.iphone-14-pro-max-6-child16,
.iphone-14-pro-max-6-child17 {
  top: 3977px;
}
.iphone-14-pro-max-6-child16,
.iphone-14-pro-max-6-child17 {
  top: 2238px;
}
.iphone-14-pro-max-6-child17 {
  top: 4847px;
}
.span2 {
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: 824px;
  left: 39px;
  line-height: 24px;
  display: inline-block;
  width: 353px;
}
.lorem-ipsum-dolor-container1,
.lorem-ipsum-dolor-container2,
.lorem-ipsum-dolor-container3 {
  position: absolute;
  top: 3433px;
  left: 39px;
  line-height: 24px;
  display: inline-block;
  width: 353px;
}
.lorem-ipsum-dolor-container2,
.lorem-ipsum-dolor-container3 {
  top: 1693px;
}
.lorem-ipsum-dolor-container3 {
  top: 4302px;
}
.lorem-ipsum-dolor-container4 {
  top: 2563px;
}
.lorem-ipsum-dolor-container4,
.lorem-ipsum-dolor-container5,
.sed-fringilla-mauris {
  position: absolute;
  left: 39px;
  line-height: 24px;
  display: inline-block;
  width: 353px;
}
.lorem-ipsum-dolor-container5 {
  bottom: 442px;
}
.sed-fringilla-mauris {
  top: 420px;
  color: var(--color-white);
}
.sed-fringilla-mauris1,
.sed-fringilla-mauris2,
.sed-fringilla-mauris3,
.sed-fringilla-mauris4,
.sed-fringilla-mauris5 {
  position: absolute;
  top: 3029px;
  left: 39px;
  line-height: 24px;
  display: inline-block;
  color: var(--color-white);
  width: 353px;
}
.sed-fringilla-mauris2,
.sed-fringilla-mauris3,
.sed-fringilla-mauris4,
.sed-fringilla-mauris5 {
  top: 1289px;
}
.sed-fringilla-mauris3,
.sed-fringilla-mauris4,
.sed-fringilla-mauris5 {
  top: 3898px;
}
.sed-fringilla-mauris4,
.sed-fringilla-mauris5 {
  top: 2159px;
}
.sed-fringilla-mauris5 {
  top: 4768px;
}
.n-icon,
.n-icon1,
.n-icon2,
.n-icon3,
.n-icon4,
.n-icon5 {
  position: absolute;
  top: 524px;
  left: 39px;
  width: 352px;
  height: 250px;
  object-fit: cover;
}
.n-icon1,
.n-icon2,
.n-icon3,
.n-icon4,
.n-icon5 {
  top: 3133px;
}
.n-icon2,
.n-icon3,
.n-icon4,
.n-icon5 {
  top: 1393px;
}
.n-icon3,
.n-icon4,
.n-icon5 {
  top: 4002px;
}
.n-icon4,
.n-icon5 {
  top: 2263px;
}
.n-icon5 {
  top: 4872px;
}
.polygon-icon {
  position: absolute;
  top: 1138px;
  left: 206px;
  width: 18px;
  height: 16px;
}
.iphone-14-pro-max-6-child18,
.iphone-14-pro-max-6-child19 {
  position: absolute;
  top: 3747px;
  left: 206px;
  width: 18px;
  height: 16px;
}
.iphone-14-pro-max-6-child19 {
  top: 2008px;
}
.iphone-14-pro-max-6-child20,
.iphone-14-pro-max-6-child21 {
  position: absolute;
  top: 2878px;
  left: 206px;
  width: 18px;
  height: 16px;
}
.iphone-14-pro-max-6-child21 {
  top: 4617px;
}
.iphone-14-pro-max-6-child22,
.iphone-14-pro-max-6-child23,
.iphone-14-pro-max-6-child24,
.iphone-14-pro-max-6-child25,
.iphone-14-pro-max-6-child26,
.iphone-14-pro-max-6-child27 {
  position: absolute;
  top: 320px;
  left: 120px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 190px;
  height: 50px;
}
.iphone-14-pro-max-6-child23,
.iphone-14-pro-max-6-child24,
.iphone-14-pro-max-6-child25,
.iphone-14-pro-max-6-child26,
.iphone-14-pro-max-6-child27 {
  top: 2929px;
}
.iphone-14-pro-max-6-child24,
.iphone-14-pro-max-6-child25,
.iphone-14-pro-max-6-child26,
.iphone-14-pro-max-6-child27 {
  top: 1189px;
}
.iphone-14-pro-max-6-child25,
.iphone-14-pro-max-6-child26,
.iphone-14-pro-max-6-child27 {
  top: 3798px;
}
.iphone-14-pro-max-6-child26,
.iphone-14-pro-max-6-child27 {
  top: 2059px;
}
.iphone-14-pro-max-6-child27 {
  top: 4668px;
}
.span8 {
  color: var(--color-gray-200);
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15 {
  position: absolute;
  right: 159px;
  bottom: 5447px;
  font-size: var(--font-size-base);
  text-align: right;
  color: var(--color-lightgray);
}
.div11,
.div12,
.div13,
.div14,
.div15 {
  bottom: 2838px;
}
.div12,
.div13,
.div14,
.div15 {
  bottom: 4578px;
}
.div13,
.div14,
.div15 {
  bottom: 1969px;
}
.div14,
.div15 {
  bottom: 3708px;
}
.div15 {
  bottom: 1099px;
}
.path-153-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path-154-icon {
  position: absolute;
  top: calc(50% - 10.14px);
  right: 22.44px;
  width: 11px;
  height: 19.8px;
}
.component-27-1-child {
  position: absolute;
  top: calc(50% - 1.5px);
  right: 24px;
  border-top: 1.5px solid var(--color-seagreen);
  box-sizing: border-box;
  width: 43.5px;
  height: 3px;
}
.div2 {
  position: absolute;
  top: calc(50% - 14px);
  left: 25px;
}
.component-27-1,
.component-27-2,
.component-27-6 {
  position: absolute;
  top: 1039px;
  left: 104.48px;
  width: 221px;
  height: 50px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.component-27-2,
.component-27-6 {
  top: 3648px;
}
.component-27-2 {
  top: 1908px;
}
.component-27-5 {
  top: 4517px;
}
.component-27-3,
.component-27-4,
.component-27-5 {
  position: absolute;
  left: 104.48px;
  width: 221px;
  height: 50px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.component-27-3 {
  top: 2778px;
}
.component-27-4 {
  bottom: 366px;
}
.logo-mon-icon1 {
  position: absolute;
  top: 16.24px;
  left: 142.73px;
  width: 144.5px;
  height: 27.5px;
}
.iphone-14-pro-max-6-child28 {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 430px;
  height: 60px;
}
.component-25-7 {
  position: absolute;
  top: 83px;
  right: 23.5px;
  width: 26.5px;
  height: 15.5px;
}
.iphone-14-pro-max-6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5803px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-seagreen);
  font-family: var(--font-urw-geometric);
}
