.logo-mon-icon3 {
  position: absolute;
  top: 16.24px;
  left: 142.73px;
  width: 144.5px;
  height: 27.5px;
}
.iphone-14-pro-max-2-child {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 430px;
  height: 60px;
}
.component-25-2 {
  position: absolute;
  top: 83px;
  right: 23.5px;
  width: 26.5px;
  height: 15.5px;
}
.div25 {
  position: absolute;
  top: 198px;
  left: 25px;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-source-serif-pro);
  color: var(--color-burlywood);
  text-align: left;
}
.span28 {
  white-space: pre-wrap;
}
.span29 {
  color: var(--color-gray-200);
}
.div26 {
  position: absolute;
  top: 145px;
  left: 25px;
  font-size: var(--font-size-xs);
  text-align: left;
  color: var(--color-lightgray);
}
.iphone-14-pro-max-2-item {
  position: absolute;
  top: 170px;
  left: 22px;
  border-top: 3px solid var(--color-burlywood);
  box-sizing: border-box;
  width: 157.5px;
  height: 6px;
}
.p15 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.p16 {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.div27 {
  position: absolute;
  top: 373px;
  left: 25px;
  line-height: 24px;
  display: inline-block;
  width: 382px;
}
.iphone-14-pro-max-2-inner {
  position: absolute;
  top: 286px;
  left: 178.06px;
  width: 74.9px;
  height: 46px;
}
.iphone-14-pro-max-2-child1,
.iphone-14-pro-max-2-child2 {
  position: absolute;
  top: 507.5px;
  left: 23.5px;
  border-top: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 381.5px;
  height: 3px;
}
.iphone-14-pro-max-2-child2 {
  top: 804.5px;
}
.iphone-14-pro-max-2-child3 {
  top: 2724.5px;
}
.iphone-14-pro-max-2-child3,
.iphone-14-pro-max-2-child4,
.iphone-14-pro-max-2-child5 {
  position: absolute;
  left: 23.5px;
  border-top: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 381.5px;
  height: 3px;
}
.iphone-14-pro-max-2-child4 {
  top: 3044.5px;
}
.iphone-14-pro-max-2-child5 {
  bottom: 559.5px;
}
.span30 {
  font-size: var(--font-size-base);
}
.p18 {
  margin: 0;
}
.b9 {
  color: var(--color-seagreen);
}
.div28 {
  position: absolute;
  top: 646px;
  left: 25px;
  line-height: 24px;
  display: inline-block;
  width: 382px;
  color: var(--color-gray-300);
}
.iphone-14-pro-max-2-child6 {
  position: absolute;
  top: 559px;
  left: 187px;
  width: 56px;
  height: 56px;
}
.div29 {
  position: absolute;
  top: 943px;
  left: 35px;
  line-height: 24px;
  display: inline-block;
  width: 362px;
  color: var(--color-gray-300);
}
.iphone-14-pro-max-2-child7 {
  position: absolute;
  top: 856px;
  left: 185.81px;
  width: 58.4px;
  height: 55.9px;
}
.iphone-14-pro-max-2-child8 {
  position: absolute;
  top: 1055px;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 430px;
  height: 470px;
}
.khan-bank-tower-4 {
  position: absolute;
  top: 1080px;
  left: 25px;
  width: 380px;
  height: 420px;
  object-fit: cover;
}
.iphone-14-pro-max-2-child9 {
  position: absolute;
  top: 1525px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 430px;
  height: 857px;
}
.p22 {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.div30 {
  position: absolute;
  top: 1656px;
  left: 25px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  width: 381px;
}
.iphone-14-pro-max-2-child10 {
  position: absolute;
  top: 1575px;
  left: 25px;
  width: 56px;
  height: 56px;
}
.b14 {
  font-family: var(--font-urw-geometric);
}
.span46 {
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.div31 {
  position: absolute;
  top: 2523.65px;
  left: 73px;
  line-height: 24px;
  display: inline-block;
  width: 285px;
}
.iphone-14-pro-max-2-child11 {
  position: absolute;
  top: 2432px;
  left: 143.32px;
  width: 142.4px;
  height: 33px;
}
.div32 {
  position: absolute;
  top: 2867.65px;
  left: 73px;
  line-height: 24px;
  display: inline-block;
  width: 285px;
}
.iphone-14-pro-max-2-child12 {
  position: absolute;
  top: 2776px;
  left: 153.44px;
  width: 123.1px;
  height: 33px;
}
.div33 {
  position: absolute;
  bottom: 612.35px;
  left: 73px;
  line-height: 24px;
  display: inline-block;
  width: 285px;
}
.iphone-14-pro-max-2-child13 {
  position: absolute;
  top: 3096px;
  left: 159.91px;
  width: 110.2px;
  height: 33.1px;
}
.div34 {
  position: absolute;
  bottom: 316.35px;
  left: 73px;
  line-height: 24px;
  display: inline-block;
  width: 285px;
}
.iphone-14-pro-max-2-child14 {
  position: absolute;
  bottom: 478px;
  left: 146.38px;
  width: 137.2px;
  height: 33px;
}
.component-26-2,
.component-26-3 {
  position: absolute;
  bottom: 209px;
  left: 274px;
  width: 56px;
  height: 56px;
}
.component-26-3 {
  left: 85px;
}
.iphone-14-pro-max-2-child15 {
  position: absolute;
  top: 3768px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 430px;
  height: 160px;
}
.div35 {
  position: absolute;
  bottom: 113px;
  left: 47px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  white-space: pre-wrap;
}
.component-8-8,
.component-9-8 {
  position: absolute;
  bottom: 35px;
  left: 113px;
  width: 24px;
  height: 24px;
}
.component-9-8 {
  left: 149px;
}
.component-10-8,
.component-11-8,
.component-12-8,
.component-13-8 {
  position: absolute;
  bottom: 35px;
  left: 185px;
  width: 24px;
  height: 24px;
}
.component-11-8,
.component-12-8,
.component-13-8 {
  left: 221px;
}
.component-12-8,
.component-13-8 {
  left: 257px;
}
.component-13-8 {
  left: 293px;
}
.iphone-14-pro-max-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3927px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-seagreen);
  font-family: var(--font-urw-geometric);
}
