.p76 {
  margin: 0;
}
.div100 {
  position: absolute;
  top: 1010px;
  left: 25px;
  font-size: var(--font-size-9xl);
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-source-serif-pro);
  color: var(--color-burlywood);
}
.span84 {
  white-space: pre-wrap;
}
.span85 {
  color: var(--color-gray-200);
}
.div101 {
  position: absolute;
  top: 957px;
  left: 25px;
  font-size: var(--font-size-xs);
  color: var(--color-lightgray);
}
.iphone-14-pro-max-5-child {
  position: absolute;
  top: 982px;
  left: 22px;
  border-top: 3px solid var(--color-burlywood);
  box-sizing: border-box;
  width: 274px;
  height: 6px;
}
.iphone-14-pro-max-5-inner,
.iphone-14-pro-max-5-item {
  position: absolute;
  top: 1132px;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 430px;
  height: 1177px;
}
.iphone-14-pro-max-5-inner {
  top: 2309px;
  background-color: var(--color-gray-100);
  height: 1076px;
}
.b19 {
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.the-banker {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.div102,
.div103 {
  position: absolute;
  left: 25px;
  line-height: 24px;
  display: inline-block;
  width: 381px;
  color: var(--color-seagreen);
}
.div102 {
  bottom: 408px;
}
.div103 {
  top: 1157px;
}
.component-26-8,
.component-26-9 {
  position: absolute;
  bottom: 210px;
  left: 274px;
  width: 56px;
  height: 56px;
}
.component-26-9 {
  left: 85px;
}
.iphone-14-pro-max-5-child1 {
  position: absolute;
  top: 3541px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 430px;
  height: 160px;
}
.div104 {
  position: absolute;
  bottom: 114px;
  left: 47px;
  font-size: var(--font-size-base);
  white-space: pre-wrap;
  text-align: center;
}
.component-8-11,
.component-9-11 {
  position: absolute;
  bottom: 36px;
  left: 113px;
  width: 24px;
  height: 24px;
}
.component-9-11 {
  left: 149px;
}
.component-10-11,
.component-11-11,
.component-12-11,
.component-13-11 {
  position: absolute;
  bottom: 36px;
  left: 185px;
  width: 24px;
  height: 24px;
}
.component-11-11,
.component-12-11,
.component-13-11 {
  left: 221px;
}
.component-12-11,
.component-13-11 {
  left: 257px;
}
.component-13-11 {
  left: 293px;
}
.bg-icon1,
.iphone-14-pro-max-5-child2 {
  position: absolute;
  top: 120px;
  left: 0;
  width: 430px;
  height: 812px;
}
.bg-icon1 {
  object-fit: cover;
}
.iphone-14-pro-max-5-child2 {
  background-color: var(--color-seagreen);
  mix-blend-mode: multiply;
}
.in-the-face1 {
  position: absolute;
  top: 194.75px;
  right: 24px;
  font-size: var(--font-size-7xl);
  line-height: 32px;
  display: inline-block;
  width: 331px;
}
.iphone-14-pro-max-5-child3,
.logo-mon-icon8 {
  position: absolute;
  top: 170px;
  left: 25px;
  width: 50px;
  height: 25px;
}
.logo-mon-icon8 {
  top: 16.24px;
  left: 142.73px;
  width: 144.5px;
  height: 27.5px;
}
.iphone-14-pro-max-5-child4 {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 430px;
  height: 60px;
}
.component-25-5 {
  position: absolute;
  top: 83px;
  right: 23.5px;
  width: 26.5px;
  height: 15.5px;
}
.munkhtuya-icon {
  position: absolute;
  top: 422px;
  left: 50px;
  width: 380px;
  height: 510px;
  object-fit: cover;
}
.b29,
.div105 {
  position: absolute;
  left: 25px;
  line-height: 14px;
}
.b29 {
  top: 831px;
  text-transform: uppercase;
}
.div105 {
  top: 861px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.iphone-14-pro-max-5-child5 {
  position: absolute;
  right: 15.71px;
  bottom: 424.5px;
  width: 171.6px;
  height: 40.8px;
}
.span86 {
  text-transform: uppercase;
}
.span87 {
  font-family: var(--font-urw-geometric);
}
.div106 {
  position: absolute;
  right: 1px;
  bottom: 341px;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-gray-300);
}
.iphone-14-pro-max-5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3701px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-urw-geometric);
}
