.our-brand-child,
.our-brand-item {
  position: absolute;
  top: 737px;
  left: 201px;
  background-color: var(--color-whitesmoke-200);
  width: 759px;
  height: 796px;
}
.our-brand-item {
  left: 960px;
  background-color: var(--color-gray-100);
}
.div107 {
  position: absolute;
  top: 271px;
  left: 201px;
  font-size: var(--font-size-31xl);
  line-height: 65px;
  font-weight: 600;
  font-family: var(--font-source-serif-pro);
  color: var(--color-burlywood);
  text-align: left;
}
.b30 {
  white-space: pre-wrap;
}
.p88,
.p89 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.p89 {
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.p96 {
  margin: 0;
}
.div108 {
  position: absolute;
  top: 868px;
  left: 1030px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  width: 572px;
}
.b33 {
  font-family: var(--font-urw-geometric);
}
.span96 {
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.div109 {
  position: absolute;
  top: 1725.15px;
  left: 230px;
  line-height: 24px;
  display: inline-block;
  width: 285px;
}
.div110 {
  left: 1015px;
}
.div110,
.div111,
.div112 {
  position: absolute;
  top: 1725.15px;
  line-height: 24px;
  display: inline-block;
  width: 285px;
}
.div111 {
  left: 622px;
}
.div112 {
  right: 228px;
}
.p106 {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.div113 {
  position: absolute;
  top: 527px;
  left: 257px;
  line-height: 24px;
  display: inline-block;
  width: 362px;
}
.span100 {
  font-size: var(--font-size-base);
}
.b37 {
  color: var(--color-seagreen);
}
.div114,
.div115 {
  position: absolute;
  top: 527px;
  line-height: 24px;
  display: inline-block;
  width: 362px;
  color: var(--color-gray-300);
}
.div114 {
  left: 780px;
}
.div115 {
  right: 255px;
}
.span109 {
  color: var(--color-gray-200);
}
.div116,
.div117 {
  position: absolute;
  top: 180px;
  font-size: var(--font-size-base);
  color: var(--color-lightgray);
}
.div116 {
  left: 201px;
  text-align: left;
}
.div117 {
  right: 200px;
  text-transform: uppercase;
  white-space: pre-wrap;
  text-align: right;
}
.our-brand-inner {
  position: absolute;
  top: 213.5px;
  left: 196px;
  border-top: 5px solid var(--color-burlywood);
  box-sizing: border-box;
  width: 211.5px;
  height: 10px;
}
.our-brand-child1 {
  position: absolute;
  top: 2131px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1920px;
  height: 100px;
}
.span110 {
  text-transform: uppercase;
}
.div118 {
  position: absolute;
  top: calc(50% - 11px);
  right: 61px;
}
.component-5-4-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 102px;
  border-radius: 50%;
  max-height: 100%;
  width: 56px;
}
.component-5-4-item {
  position: absolute;
  top: calc(50% - 10.01px);
  left: 125.75px;
  width: 10.5px;
  height: 20px;
}
.component-5-4,
.div119 {
  position: absolute;
  font-size: var(--font-size-base);
  text-align: left;
}
.component-5-4 {
  right: 201px;
  bottom: 200px;
  width: 158px;
  height: 56px;
  color: var(--color-lightgray);
}
.div119 {
  bottom: 39.61px;
  left: 200.5px;
  color: var(--color-white);
  white-space: pre-wrap;
}
.our-brand-child2 {
  position: absolute;
  top: 440px;
  left: 400.06px;
  width: 74.9px;
  height: 46px;
}
.our-brand-child3,
.our-brand-child4 {
  position: absolute;
  top: 440px;
  left: 932px;
  width: 56px;
  height: 56px;
}
.our-brand-child4 {
  left: 1453.81px;
  width: 58.4px;
  height: 55.9px;
}
.khan-bank-tower-41 {
  position: absolute;
  top: 787px;
  left: 250px;
  width: 660px;
  height: 696px;
  object-fit: cover;
}
.our-brand-child5 {
  position: absolute;
  top: 787px;
  left: 1030px;
  width: 56px;
  height: 56px;
}
.our-brand-child6,
.our-brand-child7 {
  position: absolute;
  top: 1633.5px;
  left: 300.32px;
  width: 142.4px;
  height: 33px;
}
.our-brand-child7 {
  left: 702.44px;
  width: 123.1px;
}
.our-brand-child8,
.our-brand-child9 {
  position: absolute;
  top: 1633.5px;
  left: 1101.91px;
  width: 110.2px;
  height: 33.1px;
}
.our-brand-child9 {
  left: 1480.38px;
  width: 137.2px;
  height: 33px;
}
.our-brand-child10,
.our-brand-child11,
.our-brand-child12,
.our-brand-child13,
.our-brand-child14 {
  position: absolute;
  top: 1632px;
  left: 567px;
  border-right: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 3px;
  height: 245.2px;
}
.our-brand-child11,
.our-brand-child12,
.our-brand-child13,
.our-brand-child14 {
  top: 438.5px;
  left: 697px;
  height: 198.5px;
}
.our-brand-child12,
.our-brand-child13,
.our-brand-child14 {
  left: 1220px;
}
.our-brand-child13,
.our-brand-child14 {
  top: 1632px;
  left: 958.5px;
  height: 245.2px;
}
.our-brand-child14 {
  left: 1351.5px;
}
.component-8-1,
.component-9-1 {
  position: absolute;
  bottom: 40px;
  width: 24px;
  height: 24px;
}
.component-8-1 {
  left: 1515px;
}
.component-9-1 {
  right: 345px;
}
.component-10-1,
.component-11-1,
.component-12-1,
.component-13-1 {
  position: absolute;
  right: 309px;
  bottom: 40px;
  width: 24px;
  height: 24px;
}
.component-11-1,
.component-12-1,
.component-13-1 {
  right: 273px;
}
.component-12-1,
.component-13-1 {
  right: 237px;
}
.component-13-1 {
  right: 201px;
}
.our-brand-child15 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 70px;
}
.our-brand-child16,
.our-brand-child17,
.our-brand-child18,
.our-brand-child19,
.our-brand-child20 {
  position: absolute;
  top: 69px;
  left: 507px;
  background-color: var(--color-darkslategray);
  width: 130px;
  height: 1px;
  opacity: 0;
}
.our-brand-child17,
.our-brand-child18,
.our-brand-child19,
.our-brand-child20 {
  left: 637px;
}
.our-brand-child18,
.our-brand-child19,
.our-brand-child20 {
  left: 767px;
}
.our-brand-child19,
.our-brand-child20 {
  left: 897px;
}
.our-brand-child20 {
  left: 1027px;
}
.menu-6-child1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 1px);
  background-color: var(--color-seagreen);
  width: 2px;
  height: 6px;
  opacity: 0;
}
.div120 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 37px);
  line-height: 14px;
}
.menu-63 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  width: 130px;
}
.div121 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 33px);
  line-height: 14px;
}
.menu-53 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 130px);
  background-color: var(--color-white);
  width: 130px;
}
.div122 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 34px);
  line-height: 14px;
}
.menu-43 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 0px);
  background-color: var(--color-white);
  width: 130px;
}
.div123 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 36px);
  line-height: 14px;
}
.menu-23,
.menu-33 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 130px);
  background-color: var(--color-white);
  width: 130px;
}
.menu-23 {
  left: calc(50% - 260px);
}
.div125 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 29px);
}
.menu-13 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 130px;
}
.menu-animation3 {
  position: absolute;
  top: 0;
  left: 377px;
  width: 780px;
  height: 70px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.our-brand-child21 {
  position: absolute;
  top: 69px;
  left: 377px;
  background-color: var(--color-darkslategray);
  width: 130px;
  height: 1px;
  opacity: 0;
}
.logo-mon-icon9 {
  position: absolute;
  top: 21.24px;
  left: 200px;
  width: 144.5px;
  height: 27.5px;
  cursor: pointer;
}
.our-brand-child22,
.our-brand-child23,
.our-brand-child24,
.our-brand-child25,
.our-brand-child26,
.our-brand-child27,
.our-brand-child28 {
  position: absolute;
  top: -1px;
  left: 506px;
  border-right: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 2px;
  height: 71px;
}
.our-brand-child23,
.our-brand-child24,
.our-brand-child25,
.our-brand-child26,
.our-brand-child27,
.our-brand-child28 {
  left: 766px;
}
.our-brand-child24,
.our-brand-child25,
.our-brand-child26,
.our-brand-child27,
.our-brand-child28 {
  left: 896px;
}
.our-brand-child25,
.our-brand-child26,
.our-brand-child27,
.our-brand-child28 {
  left: 1026px;
}
.our-brand-child26,
.our-brand-child27,
.our-brand-child28 {
  left: 376px;
}
.our-brand-child27,
.our-brand-child28 {
  left: 636px;
}
.our-brand-child28 {
  left: 1156px;
}
.our-brand-child29 {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1920px;
  height: 60px;
}
.div126 {
  position: absolute;
  right: 200px;
  bottom: 2118px;
  font-size: var(--font-size-xl);
  font-family: var(--font-source-serif-pro);
  color: var(--color-burlywood);
  text-align: right;
}
.path-139-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-child4 {
  position: absolute;
  top: calc(50% - 9.4px);
  right: 15.33px;
  width: 15.7px;
  height: 15.7px;
}
.div127 {
  position: absolute;
  top: 3px;
  left: 6px;
  line-height: 14px;
}
.search-child5 {
  position: absolute;
  height: calc(100% - 9px);
  top: 4px;
  right: 40px;
  bottom: 5px;
  border-right: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 2px;
}
.search3 {
  position: absolute;
  top: 21px;
  right: 270px;
  width: 363px;
  height: 30px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.language-icon3 {
  position: absolute;
  top: 15px;
  right: 201px;
  width: 59px;
  height: 41px;
}
.our-brand {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2231px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-seagreen);
  font-family: var(--font-urw-geometric);
}
